.copyright-box {
    background-color: pink; 
    border: 1px solid #000000; 
    padding: 20px; 
    border-radius: 5px; /* função nova para a caixa ficar redondinha */
    max-width: 600px; /* largura da minha caixinha */
    margin: 0 auto; 
    font-family: Arial, sans-serif; /* Fonte que peguei do google */
    font-size: 14px; 
    line-height: 1.5; 
    color: #000000; 
    position: fixed; 
    bottom: 0; /* isso aqui transformou o rodapé */
    left: 50%; 
    transform: translateX(-50%); 
  }
  
