body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    max-width: 600px;
    padding: 20px;
    background-color: pink;
    border-radius: 5px;
    box-shadow: 0 0 10px pink;
  }
  
  h1 {
    text-align: center;
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: pink;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: pink;
  }
  
  #questionContainer {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
  }
  
  #answerContainer {
    text-align: center;
    margin-top: 20px;
  }
  